ul {
  // all: initial;
}
body {
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
  color:bisque;
}

h1 {
  margin-block: 0;
}
