ul {
	// all: initial;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(219, 177, 122);
}

h1 {
	color: rgb(241, 211, 174);
	font-size: 60px;
	margin-block: 0;
}
